*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'poppins';
}
html, body{
    overflow-x: hidden;
}
nav{
    width: 100%;
    height: 8vh;
    border-bottom: 1px solid rgb(226, 221, 221);
}
.logo a{
    line-height: 40px;
    font-size: 30px;
    font-family: 'lobster'!important;
    margin-left: 30px;
    color: black;
    text-decoration: none;
}
 ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    width: 100%;
    margin-left: 200px;
    margin-top: -35px;
}
ul li{
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0px 0px;
    flex-basis: 25px;
    width: 50%;

}
   a, a:hover{
    color: #999999;
    font-size: 16px;
    text-decoration: none;
}

.active, .active:hover{ 
    color: black;
    text-decoration: none;
    font-size: 16px;
}


.login-btn{
    padding: 5px 15px;
    background-color: white;
    border: 1px solid black;
    margin-left: 50px;
}
.login-btn a{
    color: black;
    text-decoration: none;
}
.reg-btn{
    padding: 5px 15px;
    background-color: black;
    border: 1px solid black;
    /* margin-left: 50px; */
}
.reg-btn a{
    color: white;
    text-decoration: none;
}
.cart{
    position: relative;
    margin-right: -50px;
    font-size: 24px !important;
    text-decoration: none;
    color: black;
}
.badge {
    position: absolute;
    font-size: 10px;
    top: -2px;
    right:9vw;
    padding: 5px 5px;
    border-radius: 50%;
    background: red;
    color: white;
  }
  .hambuger{
      font-size: 30px;
      cursor: pointer;
    margin-left: auto;
    margin-right: 5vw;
    display: none;
  }
  #hambuger{
      display: none;
  }
  .container-one{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      margin-left: 30px;
      
      
  }
  .sub-cont-one{
      margin-top: 12vh;
    flex-grow: 1;
    flex-basis: 50%;
    letter-spacing: 2px;
  }
  .sub-cont-two{
    flex-grow: 1;
    flex-basis: 50%;
    margin-right: 100px ;
    
  }
  .img-one{
      width: 100%;
      padding: 0px 50px;
  }
  .text-one{
      font-size: 24px;
      color: #999999;
      width: 400px;
  }
  .search-input{
      position: absolute;
    width: 40vw;
    height: 58px;
    font-size: 14px;
    color: #999999;
    border: 1px solid #999999;
    padding: 10px;
    box-shadow:3px 2px 3px rgb(167, 160, 160);
    outline: #999999;
    
   
  }
  .search-btn{
    position: absolute;
    left: 30vw;
    width: 9vw;
    height: 45px;
    color: white;
    background-color: black;
    border: none;
    margin-top: 5px;
  }
  .search-area{
      width: 100%;
  }
  .container-two{
      margin-left: 30px;
  }
  .heading-two{
      font-size: 48px;
      color: #777777;
      /* font-weight: 300; */
  }
  .new{
      color: white;
      background-color:black;
      border-radius: 30px;
      border: none;
      padding: 5px 10px;
      /* width: 50px; */
  }
  .preloved{
    color: black;
    background-color: #DDDDDD;
    border-radius: 30px;
    border: none;
   margin-left: 10px;
    padding: 5px 10px;
}
.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product-img{
    width: 100%;
}
.product-one, .product-two, .product-three, .product-four, .product-five, .product-six, .product-seven, .product-eight{
    flex-basis: 20%;
    flex-grow: 1;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    margin: 10px;
}
.product-desc{
    /* margin: 5px 15px; */
}
.product-name{
    margin: 3px 33px;
}
.sub-produt-desc{
    display: flex;
  flex-direction: row;
  justify-content: space-around;
} 
.product-price{
    font-size: 18px;
    /* line-height: 40px; */
}
.cart-btn{
    font-size: 12px;
    border-radius: 30px;
   padding:5px 10px;
   height: 30px;
   line-height: 10px;
   border-style: none;
}
.container-three{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 10px;
    margin-left: 30px;
    justify-content: space-around;
}
.img-two{
    width: 40vw;
}
.sect-one{
flex-grow: 1;
flex-basis: 50%;
}
.sect-two{
    flex-grow: 1;
    flex-basis: 50%;

}
.sect-two > li{
    line-height: 40px;
}
.container-four{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    margin: 10px 30vw;
    border-radius: 2px;
    border: 0.1px solid #999999;
    border-style: none;
    box-shadow:1px 1px 5px 0px;
}
.testimonial-head{
    display: flex;
    justify-content:center;
    flex-direction: row;
    /* margin: 10px 30vw; */
  
}

.testimonial-img{
    flex-basis: 50%;
    flex-grow: 1;
    width: 100%;
    padding: 1vw;
}
.testimonial-text{
    flex-basis: 50%;
    flex-grow: 1;
    padding: 10vw 1vw;
    line-height: 4vh;
}
footer{
    background-color: aqua;
}
@media (max-width: 1194px){
   .login-btn{
       margin-left: 15px;
   }
}
@media (max-width: 982px){
    .nav{
        height:7vh ;
    }
    ul{
        flex-direction:column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left:5vw;
        margin-top: 3vh;
        text-align: center;
    }
  
    ul li{
        padding: 10px 10px;
        flex-basis: 25px;
        width: 50%;
        justify-content: center;
        align-items: center;
        margin-left: -170vw;
        transition: ease-in 1s;
    
    }
    .login-btn{
        margin-left: 0px;
    }
    .cart{
        margin-right:0px;
    }
    .badge{
        right:20vw;
        top: 1vh;
    }
    .hambuger{
        display:block ;
    }
    #hambuger:checked ~ul li{
        margin-left: -0vw;
       
    }
    }
